<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Team Shot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
  <div id="container"></div>
  <script type="module" src="https://chirimen.org/remote-connection/js/beta/RelayServerGlobal.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <script src="/static/three.min.js"></script>
  <script>
    var camera, scene, renderer, material;

    var fov = 70,
    texture_placeholder,
    isUserInteracting = false,
    onMouseDownMouseX = 0,
    onMouseDownMouseY = 0,
    lon = 0,
    onMouseDownLon = 0,
    lat = 0,
    onMouseDownLat = 0,
    phi = 0,
    theta = 0;

    init();
    animate();

    function init() {
      var container, mesh;
      container = document.getElementById('container');
      camera = new THREE.PerspectiveCamera(fov, window.innerWidth / window.innerHeight, 1, 1100);
      camera.target = new THREE.Vector3(0, 0, 0);
      scene = new THREE.Scene();
      var geometry = new THREE.SphereGeometry(500, 60, 40);
      geometry.applyMatrix(new THREE.Matrix4().makeScale(-1, 1, 1));
      material = new THREE.MeshBasicMaterial({
        map: THREE.ImageUtils.loadTexture('/video_feed')
      });
      mesh = new THREE.Mesh(geometry, material);
      scene.add(mesh);
      renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      container.appendChild(renderer.domElement);

      document.addEventListener('mousedown', onDocumentMouseDown, false);
      document.addEventListener('mousemove', onDocumentMouseMove, false);
      document.addEventListener('mouseup', onDocumentMouseUp, false);
      document.addEventListener('mousewheel', onDocumentMouseWheel, false);
      document.addEventListener('DOMMouseScroll', onDocumentMouseWheel, false);
      //
      window.addEventListener('resize', onWindowResize, false);
      setTimeout(timer, 1000);
    }

    function onWindowResize() {
      camera.aspect = window.innerWidth / window.innerHeight;
      camera.updateProjectionMatrix();
      renderer.setSize(window.innerWidth, window.innerHeight);
    }

    function onDocumentMouseDown(event) {
      event.preventDefault();
      isUserInteracting = true;
      onPointerDownPointerX = event.clientX;
      onPointerDownPointerY = event.clientY;
      onPointerDownLon = lon;
      onPointerDownLat = lat;
    }

    function onDocumentMouseMove(event) {
      if (isUserInteracting) {
        lon = (onPointerDownPointerX - event.clientX) * 0.1 + onPointerDownLon;
        lat = (event.clientY - onPointerDownPointerY) * 0.1 + onPointerDownLat;
      }
    }

    function onDocumentMouseUp(event) {
      isUserInteracting = false;
    }

    function onDocumentMouseWheel(event) {
      // WebKit
      if (event.wheelDeltaY) {
        fov -= event.wheelDeltaY * 0.05;
        // Opera / Explorer 9
      } else if (event.wheelDelta) {
        fov -= event.wheelDelta * 0.05;
        // Firefox
      } else if (event.detail) {
        fov += event.detail * 1.0;
      }
      camera.projectionMatrix.makePerspective(fov, window.innerWidth / window.innerHeight, 1, 1100);
      render();
    }

    function animate() {
      requestAnimationFrame(animate);
      render();
    }

    function render() {
      lat = Math.max(-85, Math.min(85, lat));
      phi = THREE.Math.degToRad(90 - lat);
      theta = THREE.Math.degToRad(lon);

      camera.target.x = 500 * Math.sin(phi) * Math.cos(theta);
      camera.target.y = 500 * Math.cos(phi);
      camera.target.z = 500 * Math.sin(phi) * Math.sin(theta);

      camera.lookAt(camera.target);
      renderer.render(scene, camera);
    }

    function timer() {
      material.map.needsUpdate = true;
      setTimeout(timer, 100);
    }

    console.log(window.location.href);
    const hikaku = window.location.href.slice(-7) == '?hikaku' ? true : false;

    // Remote Example4 - controller
    //import {RelayServer} from "https://chirimen.org/remote-connection/js/beta/RelayServer.js";

    var channel;
    onload = async function(){
      console.log("web socketリレーサービスに接続しました");
      // webSocketリレーの初期化
      var relay = RelayServer("chirimentest", "chirimenSocket" );
      channel = await relay.subscribe("shoot-ito");
      channel.onmessage = getMessage;
    }

    function getMessage(msg){ // メッセージを受信したときに起動する関数
      if (hikaku) {
        return;
      }
      console.log(msg);
      var arr = msg.data.split(",");
      var radian = Math.atan2( arr[1] - 0.0, arr[0] - 0.0);
      var angle = (radian / Math.PI + 1.0) / 2.0;    // 0.0～1.0
      lon = angle * 360;       // 0-360
      material.map.needsUpdate = true;
    }
  </script>
</body>
</html>

